
header {
  border:1px solid #000;
  height:200px;
}

.col-sm-4 {
  border:1px solid #000;
  height:500px;
}

.row {
  margin-left:0;
  margin-right:0;
}

.container {
  float:left;
  padding-left:180px;
  max-width:1500px;

}

#right-sidebar {
  border:1px solid #000;
  height:500px;
}

#left-sidebar {
  border: 1px solid #000;
  height: 1000px;
  position:fixed;
  width:180px;
  padding-top:10px;
  background-color:#FDFDFE;
}

.navbar-default {
  margin-bottom:0px;
  border-radius:0;
}



#carousel-container {
  padding-left: 0;
}

.img-wrap {
  text-align:center;
}

img {
  margin-bottom:5px;
  border: 1px solid #d1d1d1;
}

.form-control {
  padding-left:5px;
  padding-right:5px;
  width:145px !important;
  border-radius:15px;
  text-align:center;
  margin-bottom:15px;
}

.navbar-form {
  padding-left:0;
  padding-right:0;
  width:148px;
  text-align:center;
  margin-top:20px;
}

#widget-title-1 {
  margin-top:50px;
  height:60px;
}

#carousel-header {
  margin-top:10px;
}
